- content_for :sidebar do
  .sidebar
    %h3 Latest News
    %h4 New Site Launched
    %h5 April 21st, 2012
    %p It's new and it's here.  Whoop.
  .sidebar
    %h3 More News
    %p Yeah, there's more.
  .sidebar
    %h3 Foo!
    %h4 Bar.
    %p Baz?

%h2 What up, ribs?
%p Find me in app/views/home/index.html.haml
